.api-endpoint
{
  margin-bottom: 1em;
}

.api-endpoint .http-verb
{
  font-weight: bold;
  color: #900;
}

.api-endpoint .param
{
  color: #369;
  font-style: normal;
  font-weight: bold;
}

h4
{
  margin-top: 1em;
}
